<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tidy ToDo</title>
    <link rel="stylesheet" href="static/login.css" />
</head>

<body>
    <header>
        <h1>Tidy Todo</h1> Session version
        <div class="info">
            <span id="info-version">User management version</span>
        </div>
    </header>
    <main id="login">
        <form class="form-login" method="post" action="/login">
            <h1>Login</h1>
            <div class="form-item">
                <label>UserId</label>
                <input type="text" name"userId" placeholder="your UserId" required autofocus/>
            </div>
            <div class="form-item">
                <label>Password</label>
                <input type="password" name"password" placeholder="Password" required/>
            </div>
            {{if ne .ErrorMessage ""}}
            <div class="error-message">{{ .ErrorMessage }}</div>
            {{end}}

            <button type="submit">Login</button>
            <button onclick="location.href='/create-user-account'">Create new account</button>
        </form>
    </main>
</body>

</html>

